@import 'tailwindcss';

@config "../../tailwind.config.js";

@utility faded-left {
  @apply relative before:bg-linear-to-r before:h-full before:left-0 before:absolute before:z-10 before:from-event-light before:to-transparent before:pointer-events-none;
}

@utility faded-right {
  @apply relative after:bg-linear-to-l after:h-full after:right-0 after:absolute after:z-10 after:from-event-light before:to-transparent after:pointer-events-none;
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@theme {
  --color-event-dark: #222222;
  --color-event-gray: #999999;
  --color-event-soft: #d2d2d2;
  --color-event-light: #f3f4f6ff;
  --color-event-primary: #5287ae;
  --color-event-hover: #72940c;
  --color-event-bg: #e5e7eb;
}
