:root {
  --color-event-dark: #222222;
  --color-event-gray: #999999;
  --color-event-soft: #d2d2d2;
  --color-event-light: #f3f4f6ff;
  --color-event-primary: #5287ae;
  --color-event-hover: #72940c;
  --color-event-bg: #e5e7eb;
}
